*
{
    margin:0;
    padding:0;
}
*
{
    box-sizing: border-box;
}
.main
{
    display:flex;
    


}
.hea
{
    width:40%;
    height:450px;
    text-align: left;
    float:left;
    padding:25px;
    background-color: rgb(30, 187, 187);
}
.content
{
    width:60%; 
    height:550px;
    text-align: center;
    background-color:white;
    padding: 100px;
    margin-top:-40px;
}
.below
{
    position: absolute;
    width:40%;
    height:160px;
    margin-top: 450px;
    background-color: rgb(171, 202, 202);
    

}
input
{
    padding:9px 10px;
    width:100%;

}